{% extends 'base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="container">
            {{ form_start(form) }}
            {{ form_widget(form) }}

            <div>
                <a href="{{ cancelUrl }}"
                   class="btn btn-default pull-right ">Cancel</a>
                <input type="submit" class="btn btn-primary pull-right"
                       value="Submit"/>
            </div>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
